*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;

}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 300px;
    height: 410px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
                0 0 10px rgba(0, 0, 0, 0.3),
                inset 0 0 10px rgba(0, 0, 0, .5); 
    background-color: rgb(174, 177, 177);
    border-radius: 2px solid green a;
}
.form__fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: 380px;
    padding: 20px;
    border-radius: 20px;   
}
.form__input {
    height: 35px;
    border-radius: 20px;
    padding: 15px;
    outline: none;
}
.form__input:focus {
    border: 2px solid rgb(2, 247, 14);
}
.error {
    border: 2px solid rgb(255, 0, 0);
}
.form__button {
    background-color: rgb(20, 144, 233);
    color: aliceblue;
    width: 90%;
    padding: 10px;
    font-size: large;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3),
            inset 0 0 10px rgba(0, 0, 0, .5);
}
.form__button:hover {
    opacity: .8;
}
.form__result{
    width: 100%;
    height: 60px;
    background-color: ;
    border-radius: 20px;
    box-shadow: 0 0 5px ;
    padding: 10px;
    color: #000000;
}